@{
    ViewBag.Title = "首页";
}

@if (!Comm.IsMobileDrive)
{
    <div class="homeIndex">
        <div class="homeIndex-head">
            <div class="homeIndex-head-wrap">
                <div class="homeIndex-head-logo fl">
                    <img src="~/Content/images/home/logo_color.png" />
                </div>
                <div class="homeIndex-head-nav fr">
                    <ul id="nav">
                        <li class="active">APP下载<i></i></li>
                        <li>内部优惠券<i></i></li>
                        <li>商家加盟<i></i></li>
                        @*<li>赚佣金<i></i></li>*@
                        <li>联系我们<i></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="homeIndex-wrap">
            <div id="slideBox" class="homeIndex-slide-container" style="transform: translate3d(0px, 0%, 0px);">
                <div class="homeIndex-slide-item app">
                    <div class="homeIndex-slide-item-wrap">
                        <div class="slide-item-wrap">
                            <div class="slide-item-left fl"><div class="slide-item-app-bg01"><img src="~/Content/images/home/slide_bg_001.png" /></div></div>
                            <div class="slide-item-right fl">
                                <div class="slide-item-app-cons fl">
                                    <div class="slide-item-app-cons-name">
                                        <img src="~/Content/images/home/logo_white.png" />
                                    </div>
                                    <div class="slide-item-app-cons-text">吃喝玩乐<br />享优惠</div>
                                    <div class="slide-item-app-cons-detail">买了么优惠券软件内可领取天猫淘宝以及蘑菇街京东内部优惠券，1-5折品牌优惠券。领券购买天猫、淘宝、京东等商品，省50-90%以上</div>
                                    <div class="slide-item-app-cons-download">
                                        <div class="download-btns fl" @*onclick="javascript:alert('敬请期待')"*@><a href="~/Download/malieme.apk"><img src="~/Content/images/home/slide_bg_android.png" />Android 下载</a></div>
                                        <div class="download-btns fl"><a href="https://itunes.apple.com/cn/app/id1294184032?mt=8"><img src="~/Content/images/home/slide_bg_ios.png" />App Store 下载</a></div>
                                    </div>
                                </div>
                                <div class="slide-item-app-qr fr">
                                    <img src="@Url.Action("Index","QrCode",new { data=Url.ContentFull(Url.Action("Index","Home"))})" />
                                    @*<img src="~/Content/images/home/download_qr.png" />*@
                                    <div>扫一扫立即下载</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mq-bgwhite"></div>
                </div>
                <div class="homeIndex-slide-item coupon">
                    <div class="homeIndex-slide-item-wrap">
                        <div class="slide-item-wrap">
                            <div class="slide-item-left fl">
                                <div class="slide-item-coupon-tit">
                                    <div class="fsize48">购物内部优惠券</div>
                                    <div class="fsize18">淘宝、天猫、京东、蘑菇街，百万商品已接入。</div>
                                </div>
                                <div class="slide-item-coupon-bg01"><img src="~/Content/images/home/slide_coupon_bg_001.png" /></div>
                            </div>
                            <div class="slide-item-right fr">
                                <div class="slide-item-coupon-bg02"><img src="~/Content/images/home/slide_coupon_bg_002.png" /></div>
                                <div class="slide-item-coupon-taobao"><img src="~/Content/images/home/slide_coupon_bg_taobao.png" /></div>
                                <div class="slide-item-coupon-tm"><img src="~/Content/images/home/slide_coupon_bg_tianmao.png" /></div>
                                <div class="slide-item-coupon-jd"><img src="~/Content/images/home/slide_coupon_bg_jd.png" /></div>
                                <div class="slide-item-coupon-mgj"><img src="~/Content/images/home/slide_coupon_bg_mogu.png" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homeIndex-slide-item jm">
                    <div class="homeIndex-slide-item-wrap">
                        <div class="slide-item-wrap">
                            <div class="slide-item-left fl">
                                <div class="slide-item-jm-bg01">
                                    <img class="img01" src="~/Content/images/home/slide_jm_bg_002.png" />
                                    <img class="img02" src="~/Content/images/home/slide_jm_bg_001.png" />
                                </div>
                            </div>
                            <div class="slide-item-right fr">
                                <div class="slide-item-jm-cons">
                                    <div class="slide-item-jm-tits">本地商家加盟</div>
                                    <div class="slide-item-jm-text">更多第三方服务接入，吃喝玩乐尽在“买了么”App</div>
                                </div>
                                <div class="slide-item-jm-bg02">
                                    <img class="img01" src="~/Content/images/home/slide_jm_bg_003.png" />
                                    <img class="img02" src="~/Content/images/home/slide_jm_bg_004.png" />
                                    <img class="img03" src="~/Content/images/home/slide_jm_bg_005.png" />
                                    <img class="img04" src="~/Content/images/home/slide_jm_bg_006.png" />
                                    <img class="img05" src="~/Content/images/home/slide_jm_bg_007.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="homeIndex-slide-item yj">
                        <div class="homeIndex-slide-item-wrap">
                            <div class="slide-item-wrap">
                                <div class="">
                                    <div class="slide-item-tits">疯狂赚佣金</div>
                                    <div class="slide-item-detail">代理商可以获得平台所有商品、本地商家、第三方服务商的高额推广分成。</div>
                                </div>
                                <div class="slide-item-table">
                                    <div class="slide-item-table-tits"><img src="~/Content/images/home/slide_yj_bg_001.png" /></div>
                                    <div class="slide-item-table-cons">
                                        <div class="table-cons-tits">
                                            <div class="table-cons-tits-li">代理人</div>
                                            <div class="table-cons-tits-li">佣金收入</div>
                                            <div class="table-cons-tits-li">时间</div>
                                            <div class="table-cons-tits-li">代理人</div>
                                            <div class="table-cons-tits-li">佣金收入</div>
                                            <div class="table-cons-tits-li">时间</div>
                                        </div>
                                        <div class="table-cons-bg01"></div>
                                        <div class="table-cons-bg02"></div>
                                        <ul id="scrollUpList" style="margin-top: 0;">
                                            @for (var i = 0; i < 20; i++)
                                            {
                                            <li>
                                                <div class="table-cons-li">18****58</div>
                                                <div class="table-cons-li"> ￥6,300</div>
                                                <div class="table-cons-li">1分钟前</div>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                <div class="homeIndex-slide-item hz">
                    <div class="homeIndex-slide-item-wrap">
                        <div class="slide-item-wrap">
                            <div class="text-center">
                                <div class="slide-item-tits">合作伙伴</div>
                                <div class="slide-item-detail">更多第三方服务接入，吃喝玩乐尽在“买了么”APP。</div>
                            </div>
                            <div class="slide-item-jmlist">
                                <ul>
                                    <li><img src="~/Content/images/home/slide_hz_bg_myj.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_tb.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_tm.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_jd.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_mgj.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_kfc.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_mdl.png" /></li>
                                    <li><img src="~/Content/images/home/slide_hz_bg_jm.png" /></li>
                                </ul>
                            </div>
                            <div class="slide-item-footer">
                                <div class="slide-item-left fl">
                                    <div class="slide-item-logo fl">
                                        <img src="~/Content/images/home/logo_white.png" />
                                    </div>
                                    <div class="slide-item-footer-contect fl">
                                        <div class="tits">联系方式</div>
                                        <div class="detail">
                                            <div>微信：MLM0714</div>
                                            <div>电话：0769-8868-3222</div>
                                            <div>咨询时间：9:00至18:00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-right fr">
                                    <div class="slide-item-footer-iosqr fl">
                                        <div class="tits">iOS下载</div>
                                        <img src="~/Content/images/home/slide_ios_qr.png" />
                                    </div>
                                    @*<div class="slide-item-footer-andriodqr fl">
                                            <div class="tits">iOS下载</div>
                                            <img src="~/Content/images/home/slide_ios_qr.png" />
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homeIndex-f">
                ©2017 immlm.cn 粤ICP备14071240号-3 版权所有归：驭网科技有限公司
            </div>
        </div>
    </div>
}
else
{
    @Styles.Render("~/bundles/swiper/css")
    <div class="homeIndexM">
        <div class="homeIndexM-swiper">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide app">
                        <div class="slideApp-tits">买了么</div>
                        <div class="slideApp-text">吃喝玩乐享优惠</div>
                        <div class="slideApp-detail">买了么优惠券软件内可领取天猫淘宝以及蘑菇街京东内部优惠券，1-5折品牌优惠券。领券购买天猫、淘宝、京东等商品，省50-90%以上</div>
                        <div class="slideApp-btns">
                            <div class="slideApp-btns-li android" onclick="javascript:alert('敬请期待')"><img src="~/Content/images/home/slide_bg_android.png" />Android 下载</div>
                            <div class="slideApp-btns-li ios"><a href="https://itunes.apple.com/cn/app/id1294184032?mt=8"><img src="~/Content/images/home/slide_bg_ios.png" />App Store 下载</a></div>
                        </div>
                        <div class="slideApp-view">
                            <img src="~/Content/images/home/slide_bg_001.png" />
                        </div>
                        <div class="arrow-up"></div>
                    </div>
                    <div class="swiper-slide coupon">
                        <div class="slideCoupon-text">购物内部优惠券</div>
                        <div class="slideCoupon-detail">淘宝、天猫、京东、蘑菇街，百万商品已接入。</div>
                        <div class="slideCoupon-bg01"><img src="~/Content/images/home/slide_coupon_bg_001.png" /></div>
                        <div class="slideCoupon-view">
                            <img class="bg" src="~/Content/images/home/slide_coupon_bg_003.png" />
                            <img class="taobao" src="~/Content/images/home/slide_coupon_bg_taobao.png" />
                            <img class="jd" src="~/Content/images/home/slide_coupon_bg_jd.png" />
                            <img class="mgj" src="~/Content/images/home/slide_coupon_bg_mogu.png" />
                            <img class="tm" src="~/Content/images/home/slide_coupon_bg_tianmao.png" />
                        </div>
                        <div class="arrow-up"></div>
                    </div>
                    <div class="swiper-slide jm">
                        <div class="slideJm-text">本地商家加盟</div>
                        <div class="slideJm-detail">更多第三方服务接入，吃喝玩乐尽在“买了么”APP。</div>
                        <div class="slideJm-view">
                            <img class="bg" src="~/Content/images/home/slide_jm_bg_003.png" />
                            <img class="eat" src="~/Content/images/home/slide_jm_bg_004.png" />
                            <img class="drink" src="~/Content/images/home/slide_jm_bg_005.png" />
                            <img class="play" src="~/Content/images/home/slide_jm_bg_006.png" />
                            <img class="song" src="~/Content/images/home/slide_jm_bg_007.png" />
                        </div>
                        <div class="slideJm-bg">
                            <img class="bg" src="~/Content/images/home/slide_jm_bg_002.png" />
                            <img class="bg02" src="~/Content/images/home/slide_jm_bg_001.png" />
                        </div>
                        <div class="arrow-up"></div>
                    </div>
                    @*<div class="swiper-slide yj">
                            <div class="slideYj-text">疯狂赚佣金</div>
                            <div class="slideYj-detail">代理商可以获得平台所有商品、本地商家、第三方服务商的高额推广分成。</div>
                            <div class="slideYj-table">
                                <div class="slideYj-table-tits"><img src="~/Content/images/home/slide_yj_bg_001_m.png" /></div>
                                <div class="slideYj-table-cons">
                                    <div class="table-cons-tits">
                                        <div class="table-cons-tits-li">代理人</div>
                                        <div class="table-cons-tits-li">佣金收入</div>
                                        <div class="table-cons-tits-li">时间</div>
                                    </div>
                                    <div id="slideBox" class="slideYj-table-list mobile">
                                        <ul id="scrollUpList" style="margin-top: 0;">
                                            @for (var i = 0; i < 20; i++)
                                            {
                                                <li>
                                                    <div class="table-cons-li">18****58</div>
                                                    <div class="table-cons-li"> ￥6,300</div>
                                                    <div class="table-cons-li">1分钟前</div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="arrow-up"></div>
                        </div>*@
                    <div class="swiper-slide hz">
                        <div class="slideHz-text">合作伙伴</div>
                        <div class="slideHz-detail">更多第三方服务接入，吃喝玩乐尽在“买了么”APP。</div>
                        <div class="slideHz-list">
                            <ul>
                                <li><img src="~/Content/images/home/slide_hz_bg_myj.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_tb.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_tm.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_jd.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_mgj.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_kfc.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_mdl.png" /></li>
                                <li><img src="~/Content/images/home/slide_hz_bg_jm.png" /></li>
                            </ul>
                        </div>
                        <div class="slide-footer fs12">
                            <div class="slide-footer-tits">买了么</div>
                            <div class="slide-footer-contect">
                                <div class="slide-footer-contect-tits">联系方式</div>
                                <div>微信：MLM0714</div>
                                <div>电话：0769-8868-3222</div>
                                <div>咨询时间：9:00至18:00</div>
                            </div>
                            <div class="marginT15">©2017 immlm.cn 粤ICP备14071240号-3 版权所有归：驭网科技有限公司</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="linkToCoupon"><a href="@Url.Action("Index","coupon")">立即浏览手机端<img src="~/Content/images/home/arrow-right.png" /></a></div>
}


@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/mousewheel")
    @Scripts.Render("~/bundles/home")
}