@model Buy.Models.Coupon
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "商品详情";
    string platformLogo = null;
    if (Model != null)
    {
        switch (Model.Platform)
        {
            case Buy.Enums.CouponPlatform.TaoBao:
                platformLogo = "/Content/images/view/logo_taobao_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.TMall:
                platformLogo = "/Content/images/view/logo_tmall_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.Jd:
                platformLogo = "/Content/images/view/logo_jd_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.MoGuJie:
                platformLogo = "/Content/images/view/logo_mogujie_tag@2x.png";
                break;
            default:
                break;
        }
    }
    string url = Request.Url.ToString();
    string cUserID = Request["cUserID"];
}

@if (Model != null)
{
    @Html.HiddenFor(modle => modle.ID)
    var img = Model.Image;
    if (img.Contains("mogucdn"))
    {
        img = $"{img}_200x200.jpg";
    }
    var value = Buy.Bll.Coupons.GetValues(Model)[0].Value;
    <input id="cUserID" type="hidden" value="@cUserID" />
    <input id="userID" type="hidden" value="@User.Identity.GetUserId()" />
    <input id="platform" type="hidden" value="@Model.Platform"/>
    <img id="lazyloadimg" hidden src="~/Content/images/404/placeholder_image.png?w=150&h=150" />
    <div id="detail" class="couponDetail minHight100vh bg-color-grey">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl @(string.IsNullOrWhiteSpace(cUserID)?"":"hidden")" id="btnBack"></div>
            @*<div class="couponDetail-top-share fr" id="btnShare"></div>*@
        </div>
        <div class="couponDetail-pImg">
            <img src="@Comm.ResizeImage(Model.Image)" alt="" />
        </div>
        <div class="couponDetail-info">
            <a class="couponDetail-info-name" href="#">
                <img src="@platformLogo" />
                @Model.Name
            </a>

            @if (Model.Platform == Buy.Enums.CouponPlatform.Jd)
            {
                <div class="couponDetail-info-price">
                    <div class="fl preferPrice"><span class="fs12 marginR5">¥</span><span class="fs24">@Model.Price</span></div>
                    @if (Model.OriginalPrice != Model.Price)
                    {
                        <div class="tab fl"><img src="~/Content/images/view/img_tag_qhj@2x.png" /></div>
                    }
                    else
                    {
                        <div class="fr">
                            <div class="fr color-grey fs14">销量：@Model.Sales</div>
                        </div>
                    }
                </div>

                if (Model.OriginalPrice != Model.Price)
                {
                    <div class="clearfix marginT8">
                        <div class="fl originalPrice color-grey fs14">原价：<span>¥ @Model.OriginalPrice</span></div>
                        <div class="fr color-grey fs14">销量：@Model.Sales</div>
                    </div>
                }
            }
            else
            {
                <div class="couponDetail-info-price">
                    <div class="fl preferPrice"><span class="fs12 marginR5">¥</span><span class="fs24">@Model.Price</span></div>
                    <div class="tab fl"><img src="~/Content/images/view/img_tag_qhj@2x.png" /></div>
                </div>
                <div class="clearfix marginT8">
                    <div class="fl originalPrice color-grey fs14">原价：<span>¥ @Model.OriginalPrice</span></div>
                    <div class="fr color-grey fs14">销量：@Model.Sales</div>
                </div>
            }
        </div>
        <div class="marginT10">
            <div id="detailTit" class="columnModule">
                <div class="columnModule-title"><span>商品详情</span></div>
            </div>
            <div id="pullUpLoad" class="couponDetail-scroll">
                <span style="transform:rotate(0)">↑</span>
                <div class="loading hidden"></div>
                <div class="text">
                    上拉查看商品详情
                </div>
            </div>
            <div name="poductDetail" class="couponDetail-detailImg">
            </div>
        </div>

        <div class="couponDetail-useBtn clearfix">
            @Html.HiddenFor(model => model.Platform)

            @*.active 已收藏*@
            <div id="collect_btn" class="couponDetail-collect fl @((bool)ViewBag.IsFavorite?"active":"")" data-id="@((bool)ViewBag.IsFavorite?(int)ViewBag.FavoriteID:Model.ID)"></div>
            <div class="couponDetail-share fl" id="btnShare"></div>

            <div class="couponDetail-clipboard fr" name="clipboard">
                领取
                @if (Model.Platform == Buy.Enums.CouponPlatform.Jd)
                {
                    var val = decimal.Parse(value);
                    if (val != 0)
                    {
                        <span>
                            @(Math.Abs(val))券
                        </span>
                    }
                    else
                    {
                        <span>专享价</span>
                    }
                }
                else
                {
                    <span>
                        @(value)券
                    </span>
                }
                <div class="border-round left"><div></div><div></div><div></div><div></div></div>
                <div class="border-round right"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>


        @Html.Partial("_TaobaoPassPartial")
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/Content/images/view/img_backtop@2x.png" /></div>

    <div id="share" class="couponDetail paddingT44 minHight100vh hidden">
        <div class="navigationBar">
            <div class="navigationBar-back" id="shareback"></div>
            <div class="navigationBar-tits style02">分享</div>
        </div>
        <div class="paddingLr16 paddingTb16" style="position:static;">
            <div class="fs16">一、分享的文案<span id="shareText-tips" class="color-main"></span></div>
            <div class="couponDetail-shareInfo marginT10 marginB5">
                <textarea id="shareText" rows="9"></textarea>
                <img id="shareText-load" class="hidden" src="~/Content/images/view/loadingGif.gif" />
            </div>
            <input id="share_name" hidden value="@Model.Name" />
            <input id="share_or_price" hidden value="@Model.OriginalPrice" />
            <input id="share_price" hidden value="@Model.Price" />
            <input id="share_url" hidden value="@url" />
            <input id="share_img" hidden value="@img" />

            <div class="fs12 color-grey">请不要更改“｛｝”之间的文字哦～</div>
            <div class="fs16 marginT15">二、分享的图片 》<span id="sharePhoto-tips" class="color-main">长按图片转发给朋友</span></div>
            <div class="marginT10 Output" id="Output"></div>
            <div class="shareImgModule" id="shareImgModule">
                <div class="shareImgModule-img">
                    <img crossorigin="anonymous" id="shareImgModule_img" src="@img" />
                </div>
                <div class="shareImgModule-info">
                    <div class="shareImgModule-info-cons fl">
                        <div class="shareImgModule-info-cons-name">
                            <img id="platformLogo" src="@platformLogo" crossorigin="anonymous" />@Model.Name
                        </div>
                        <div class="shareImgModule-info-cons-price">
                            <div class="fl preferPrice"><span class="">¥</span><span class="fontsize24">@Model.Price</span></div>
                            <div id="originalPrice" class="fl originalPrice color-grey">在售价 ¥ @Model.OriginalPrice</div>
                        </div>
                        <div class="clearfix">
                            <div class="coupon-tab fl marginR8">
                                @foreach (var item in Buy.Bll.Coupons.GetValues(Model))
                                {
                                    <div class="coupon-tab-type fl">@item.Type</div>
                                    <div class="coupon-tab-val fl">@item.Value</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="shareImgModule-code fr">
                        <img id="qrcode" class="marginB5" crossorigin="anonymous" src="@Url.Action("Index", "QrCode", new { data =Url.ContentFull( Url.Action("Details", "Coupon", new { id = Model.ID }) )})" />
                        <div class="fs12 color-main">长按识别二维码</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="couponDetail-shareText"><input id="shareTextBtn" type="button" value="复制分享的文案" data-clipboard-text="" /></div>
    </div>
}
else
{
    <div class="couponDetail minHight100vh">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl" id="btnBack"></div>
            <div class="couponDetail-top-share fr"></div>
        </div>
        <div class="nodata nodata-style02">
            <a href="@Url.Action("Index","Coupon")"><img src="~/Content/images/view/img_coupon_nodata.png" /></a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/clipboard")
    @Scripts.Render("~/bundles/touchSwipe")
    @Scripts.Render("~/bundles/html2canvas")
    @Scripts.Render("~/bundles/couponDetail")
}

