@model Buy.Models.Coupon
@{
    ViewBag.Title = "商品详情";
    string platformLogo = null;
    if (Model != null)
    {
        switch (Model.Platform)
        {
            case Buy.Enums.CouponPlatform.TaoBao:
                platformLogo = "/Content/image/view/logo_taobao_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.TMall:
                platformLogo = "/Content/image/view/logo_tmall_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.Jd:
                platformLogo = "/Content/image/view/logo_jd_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.Vip:
                platformLogo = "/Content/image/view/logo_taobao_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.MoGuJie:
                platformLogo = "/Content/image/view/logo_mogujie_tag@2x.png";
                break;
            default:
                break;
        }
    }

    string url = Request.Url.ToString();
}

@if (Model != null)
{
    @Html.HiddenFor(modle => modle.ID)
    <img id="lazyloadimg" hidden src="~/Content/image/404/placeholder_image.png?w=150&h=150" />
    <div id="detail" class="couponDetail minHight100vh bg-color-grey">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl" id="btnBack"></div>
            <div class="couponDetail-top-share fr"></div>
        </div>
        <div class="couponDetail-pImg">
            <img src="@Comm.ResizeImage(Model.Image)" alt="" />
        </div>
        <div class="couponDetail-info">
            <a class="couponDetail-info-name" href="#">
                <img src="@platformLogo" />
                @Model.Name
            </a>
            <div class="couponDetail-info-price">
                <div class="fl preferPrice mar"><span class="fs12">¥</span><span class="fs24">@Model.Price</span></div>
                @if (Model.Platform != Buy.Enums.CouponPlatform.Jd)
                {
                    <div class="fl originalPrice color-grey fs14">在售价 ¥ @Model.OriginalPrice</div>
                    <div class="fr color-grey fs14">销量：@Model.Sales</div>
                }
            </div>
            <div class="clearfix marginT10">
                <div class="coupon-tab fl marginR8">
                    @foreach (var item in Buy.Bll.Coupons.GetValues(Model))
                    {
                        <div class="coupon-tab-type fl">@item.Type</div>
                        <div class="coupon-tab-val fl">@item.Value</div>
                    }
                </div>
            </div>
        </div>
        <div class="marginT10">
            <div id="detailTit" class="columnModule">
                <div class="columnModule-title"><span>商品详情</span></div>
            </div>
            <div id="pullUpLoad" class="couponDetail-scroll"><span>↑</span><div class="loading hidden"></div>上拉查看商品详情</div>
            <div name="poductDetail" class="couponDetail-detailImg">
                @*@if (!string.IsNullOrWhiteSpace(Model.UrlLisr))
                {
                    foreach (var item in Model.UrlLisr.SplitToArray<string>())
                    {
                        <img src="@item" />
                    }
                }*@
            </div>
        </div>

        <div name="clipboard" class="couponDetail-useBtn">立即领取优惠</div>


        @Html.Partial("_TaobaoPassPartial")
    </div>

    <div class="couponDetail paddingT44 minHight100vh hidden">
        <div class="navigationBar">
            <div class="navigationBar-back"></div>
            分享
        </div>
        <div class="paddingLr16 paddingTb16">
            <div class="fs16">分享的文案</div>
            <div class="couponDetail-shareInfo marginT10">
                <textarea rows="9">
                    @Model.Name
                    【在售价】@Model.OriginalPrice 元
                    【券后价】@Model.Price 元
                    【下单链接】@url
                    -------------------------------------
                    复制这条信息，{淘口令}，打开【手机淘宝】即可查看
                </textarea>
            </div>
        </div>
    </div>
}
else
{
    <div class="couponDetail minHight100vh">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl" id="btnBack"></div>
            <div class="couponDetail-top-share fr"></div>
        </div>
        <div class="nodata nodata-style02">
            <a href="@Url.Action("Index","Coupon")"><img src="~/Content/image/view/img_coupon_nodata.png" /></a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/touchSwipe")
    @Scripts.Render("~/bundles/couponDetail")
}

