@model Buy.Models.Coupon
@{
    ViewBag.Title = "商品详情";
    string platformLogo = null;
    if (Model != null)
    {
        switch (Model.Platform)
        {
            case Buy.Enums.CouponPlatform.TaoBao:
                platformLogo = "/Content/images/view/logo_taobao_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.TMall:
                platformLogo = "/Content/images/view/logo_tmall_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.Jd:
                platformLogo = "/Content/images/view/logo_jd_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.MoGuJie:
                platformLogo = "/Content/images/view/logo_mogujie_tag@2x.png";
                break;
            default:
                break;
        }
    }
    string url = Request.Url.ToString();
}

@if (Model != null)
{
    @Html.HiddenFor(modle => modle.ID)
    var img = Model.Image;
    if (img.Contains("mogucdn"))
    {
        img = $"{img}_200x200.jpg";
    }

    <img id="lazyloadimg" hidden src="~/Content/images/404/placeholder_image.png?w=150&h=150" />
    <div id="detail" class="couponDetail minHight100vh bg-color-grey">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl" id="btnBack"></div>
            @*<div class="couponDetail-top-share fr" id="btnShare"></div>*@
        </div>
        <div class="couponDetail-pImg">
            <img src="@Comm.ResizeImage(Model.Image)" alt="" />
        </div>
        <div class="couponDetail-info">
            <a class="couponDetail-info-name" href="#">
                <img src="@platformLogo" />
                @Model.Name
            </a>
            <div class="couponDetail-info-price">
                <div class="fl preferPrice"><span class="fs12 marginR5">¥</span><span class="fs24">@Model.Price</span></div>
                <div class="tab fl"><img src="~/Content/images/view/img_tag_qhj@2x.png" /></div>
            </div>

            @if (Model.Platform != Buy.Enums.CouponPlatform.Jd)
            {
                <div class="clearfix marginT8">
                    <div class="fl originalPrice color-grey fs14">原价：<span>¥ @Model.OriginalPrice</span></div>
                    <div class="fr color-grey fs14">销量：@Model.Sales</div>
                </div>
            }

            @*<div class="clearfix marginT10">
                    <div class="coupon-tab fl marginR8">
                        @foreach (var item in Buy.Bll.Coupons.GetValues(Model))
                        {
                            <div class="coupon-tab-type fl">@item.Type</div>
                            <div class="coupon-tab-val fl">@item.Value</div>
                        }
                    </div>
                </div>*@
        </div>
        <div class="marginT10">
            <div id="detailTit" class="columnModule">
                <div class="columnModule-title"><span>商品详情</span></div>
            </div>
            <div id="pullUpLoad" class="couponDetail-scroll"><span style="transform:rotate(0)">↑</span><div class="loading hidden"></div>上拉查看商品详情</div>
            <div name="poductDetail" class="couponDetail-detailImg">
            </div>
        </div>

        <div name="clipboard" class="couponDetail-useBtn">
            @Html.HiddenFor(model => model.Platform)
            <div class="">
                领取<span>@Buy.Bll.Coupons.GetValues(Model)[0].Value</span>券
                <div class="border-round left"><div></div><div></div><div></div><div></div></div>
                <div class="border-round right"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>


        @Html.Partial("_TaobaoPassPartial")
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/Content/images/view/img_backtop@2x.png" /></div>

    <div id="share" class="couponDetail paddingT44 minHight100vh hidden">
        <div class="navigationBar">
            <div class="navigationBar-back" id="shareback"></div>
            分享
        </div>
        <div class="paddingLr16 paddingTb16" style="position:static;">
            <div class="fs16">分享的文案</div>
            <div class="couponDetail-shareInfo marginT10 marginB5">
                <textarea rows="9"></textarea>
            </div>
            <input id="share_name" hidden value="@Model.Name" />
            <input id="share_or_price" hidden value="@Model.OriginalPrice" />
            <input id="share_price" hidden value="@Model.Price" />
            <input id="share_url" hidden value="@url" />

            <div class="fs12 color-grey">请不要更改“｛｝”之间的文字哦～</div>
            <div class="fs16 marginT15">分享的图片</div>
            <div class="marginT10" id="Output"></div>
            <div class="shareImgModule" id="shareImgModule">
                <div class="shareImgModule-img">
                    <img crossorigin="anonymous" id="shareImgModule_img" src="@img" />
                </div>
                <div class="shareImgModule-info">
                    <div class="shareImgModule-info-cons fl">
                        <div class="shareImgModule-info-cons-name">
                            <img src="@platformLogo" crossorigin="anonymous" />@Model.Name
                        </div>
                        <div class="shareImgModule-info-cons-price">
                            <div class="fl preferPrice"><span class="">¥</span><span class="fontsize24">@Model.Price</span></div>
                            <div class="fl originalPrice color-grey">在售价 ¥ @Model.OriginalPrice</div>
                        </div>
                        <div class="clearfix">
                            <div class="coupon-tab fl marginR8">
                                @foreach (var item in Buy.Bll.Coupons.GetValues(Model))
                                {
                                    <div class="coupon-tab-type fl">@item.Type</div>
                                    <div class="coupon-tab-val fl">@item.Value</div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="shareImgModule-code fr">
                        <img class="marginB5" crossorigin="anonymous" src="@Url.Action("Index", "QrCode", new { data =Url.ContentFull( Url.Action("Details", "Coupon", new { id = Model.ID }) )})" />
                        <div class="fs12 color-main">长按识别二维码</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="couponDetail minHight100vh">
        <div class="couponDetail-top">
            <div class="couponDetail-top-back fl" id="btnBack"></div>
            <div class="couponDetail-top-share fr"></div>
        </div>
        <div class="nodata nodata-style02">
            <a href="@Url.Action("Index","Coupon")"><img src="~/Content/images/view/img_coupon_nodata.png" /></a>
        </div>
    </div>
}

@section Scripts{
    @Scripts.Render("~/bundles/clipboard")
    @Scripts.Render("~/bundles/touchSwipe")
    @Scripts.Render("~/bundles/html2canvas")
    @Scripts.Render("~/bundles/couponDetail")
}

