@model IEnumerable<Buy.Models.Coupon>
@{
    Layout = null;
    bool isUpdate = (bool)ViewBag.IsUpdate;
}
@if (Model.Count() > 0)
{
    foreach (var item in Model)
    {
        var img = item.Image;
        if (img.Contains("mogucdn"))
        {
            img = $"{img}_200x200.jpg";
        }
        string platformLogo = null;
        switch (item.Platform)
        {
            case Buy.Enums.CouponPlatform.TaoBao:
                platformLogo = "/Content/images/view/logo_taobao_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.TMall:
                platformLogo = "/Content/images/view/logo_tmall_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.Jd:
                platformLogo = "/Content/images/view/logo_jd_tag@2x.png";
                break;
            case Buy.Enums.CouponPlatform.MoGuJie:
                platformLogo = "/Content/images/view/logo_mogujie_tag@2x.png";
                break;
            default:
                break;
        }
        <li>
            <div class="couponList-head">
                <a href="@Url.Action("Details", "Coupon", new {id=item.ID })">
                    <img src="~/Content/Images/404/placeholder_image.png?w=150&h=150" data-original="@img" />
                    <img class="plogo" src="@platformLogo" />
                </a>
            </div>

            <div class="couponList-details">
                <a href="@Url.Action("Details", "Coupon", new {id=item.ID })">
                    <div class="couponList-title">
                        @item.Name
                    </div>
                    @if (item.Platform == Buy.Enums.CouponPlatform.Jd)
                    {
                        <div class="couponList-price">
                            <div class=""><span class="couponList-sales fs12">销量：@item.Sales</span></div>
                            @if (Buy.Bll.Coupons.GetValues(item)[0].Value != "0.00")
                            {
                                <div class="originalPrice">原价：<span class="">￥@item.OriginalPrice</span></div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="couponList-price">
                            <div class=""><span class="couponList-sales fs12">销量：@item.Sales</span></div>
                            <div class="originalPrice">原价：<span class="">￥@item.OriginalPrice</span></div>
                        </div>
                    }

                    <div class="couponList-afterPrice">
                        <span class="yuan">￥</span>@item.Price
                    </div>
                    @*<div class="marginT15">
                            <div class="coupon-tab">
                                @foreach (var value in Buy.Bll.Coupons.GetValues(item))
                                {
                                    <div class="coupon-tab-type fl">@value.Type</div>
                                    <div class="coupon-tab-val fl">@value.Value</div>
                                }
                            </div>
                        </div>*@
                </a>
            </div>
            @if (Buy.Bll.Coupons.GetValues(item)[0].Value != "0.00")
            {
                <a href="@Url.Action("Details", "Coupon", new {id=item.ID })">
                    <div class="couponList-ticket" data-href="">
                        <div class="lingquan"><span class="fs16">@Buy.Bll.Coupons.GetValues(item)[0].Value</span></div>
                    </div>
                </a>
            }

            <div style="clear:both;"></div>
        </li>
    }
    if (!isUpdate)
    {
        var paged = (PagedList.IPagedList<Buy.Models.Coupon>)ViewBag.Paged;
        if (paged.HasNextPage)
        {
            <li class="loadModule loadModule-dataIng" data-next="true" data-page="@paged.PageNumber">
                <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
            </li>
        }
        else
        {
            <li class="loadModule loadModule-dataIng" data-next="false" data-page="0">
                已经到底了
            </li>
        }
    }
}
else
{

}