
@{
    ViewBag.Title = "优惠券";
    var couponTypes = (List<Buy.Models.CouponTypeTreeNode>)ViewBag.CouponTypes;
    var childType = new List<Buy.Models.CouponTypeTreeNode>();
    int pid = 0;
    if (!string.IsNullOrWhiteSpace(Request["typeID"]))
    {
        pid = int.Parse(Request["typeID"]);
        int i = 0;
        bool finishWhile = true;
        while (finishWhile)
        {
            var item = couponTypes[i];
            if (couponTypes[i].ID != pid)
            {
                var contains = item.Childs.Select(s => s.ID).Contains(pid);
                pid = contains ? item.ID : pid;
                finishWhile = contains ? false : true;
            }
            else
            {
                finishWhile = false;
            }
            i++;
        }
        var ctype = couponTypes.FirstOrDefault(s => s.ID == pid).Childs;
        childType = ctype == null ? childType : ctype;
    }
    var p = Buy.Enums.CouponPlatform.TaoBao;
    if (!string.IsNullOrWhiteSpace(Request["platform"]))
    {
        Enum.TryParse(Request["platform"], out p);
    }
    var banner = (List<Buy.Models.BannerSetting>)ViewBag.Banner;
    var classify = (List<Buy.Models.BannerSetting>)ViewBag.Classify;

}
@Styles.Render("~/bundles/swiper/css")

<div id="couponBox" class="couponIndex paddingT80 paddingB50 bg-color-grey minHight100vh">
    @Html.Hidden("typeID", Request["typeID"])
    @Html.Hidden("platform", p)
    @Html.Hidden("sort", Request["sort"])
    <div class="navigationBar bgcolor-orange" onclick="location.href='@Url.Action("Search","coupon")'">
        <div class="navigationBar-search style02 fl">
            <i></i>
            <input id="search" type="search" name="filterText" class="" placeholder="搜索内部券" value="">
        </div>
        <div id="searchBtn" class="navigationBar-rightText fl">搜优惠</div>
    </div>
    <div class="navigationSwiper top44">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in couponTypes)
                {
                    string active = pid == item.ID ? "active" : "";
                    <div name="type" class="swiper-slide @active" data-type="@item.ID">
                        @item.Name<i></i>
                    </div>
                }
            </div>
        </div>
        <div id="pullDown" class="pullDown">∨</div>
    </div>
    <div id="sortOne" class="sortList style03" style="display:none">
        <ul>
            @foreach (var item in couponTypes)
            {
                string active = pid == item.ID ? "active" : "";
                <li name="type" class="@active" data-type="@item.ID">
                    <img src="@Url.ResizeImage(item.Image,80,80)" /><div>@item.Name</div>
                </li>
            }
        </ul>
    </div>
    @if (pid != 0)
    {
        <div name="sortList" class="sortList">
            <ul>
                @foreach (var item in childType)
                {
                    <li>
                        <a name="childType" data-type="@item.ID">
                            <img src="@Url.ResizeImage(item.Image,80,80)" /><div class="name">@item.Name</div>
                        </a>
                    </li>
                }
                <li id="sortGetAll" class="all hidden">
                    <a>
                        <img src="~/Content/images/test/sort_all.png" /><div>查看全部</div>
                    </a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div id="index" class="">
            <div class="couponIndex-banner banner">
                <div class="swiper-container">
                    @if (banner.Count() > 1)
                    {
                        <div class="swiper-wrapper">
                            @foreach (var item in banner)
                            {
                                <div class="swiper-slide">
                                    <a href="@Url.ContentFull(item.Link)" data-code="" title="">
                                        <img src="@Comm.ResizeImage(item.Image)" />
                                    </a>
                                </div>
                            }
                        </div>
                    }
                    else if (banner.Count() == 1)
                    {
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="@Url.ContentFull(banner.FirstOrDefault().Link)" data-code="" title="">
                                    <img src="@Comm.ResizeImage(banner.FirstOrDefault().Image)" />
                                </a>
                            </div>
                        </div>
                    }
                    @*<div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" data-code="" title="">
                                <img src="~/Content/images/test/banner_home@2x.png" />
                            </a>
                        </div>
                    </div>*@
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <div class="couponIndex-shade"></div>
            </div>

            <div class="couponIndex-menu">
                @foreach (var item in classify)
                {
                    <a href="@Url.ContentFull(item.Link)" data-code="@item.Code">
                        <img src="@Comm.ResizeImage( item.Image)" />
                    </a>
                }
                @*<img src="~/Content/images/test/img_ztihome_001@2x.png" />*@
            </div>
        </div>
    }
    <div id="couponNav" class="coupon-nav">
        <ul>
            <li class="sort @((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序</li>
            <li class="sort @(Request["sort"]=="3" ?"active":"")" data-sort="3">券价</li>
            <li class="sort @(Request["sort"]=="4"?"active":"")" data-sort="4">券后价</li>
             <li class="sort @(Request["sort"]=="1" ?"active":"")" data-sort="1">人气热销</li>
            <li class="sort @(Request["sort"]=="2"?"active":"")" data-sort="2">最新上架</li>
        </ul>
    </div>

    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
            </li>
        </ul>
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/Content/images/view/img_backtop@2x.png" /></div>

    @Html.Partial("_navTabBottomPartial")
</div>


@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/couponIndex")
}