
@{
    ViewBag.Title = "优惠券";
    var p = Buy.Enums.CouponPlatform.TaoBao;
    if (!string.IsNullOrWhiteSpace(Request["platform"]))
    {
        Enum.TryParse(Request["platform"], out p);
    }
    var banner = (List<Buy.Models.BannerSetting>)ViewBag.Banner;
    var classify = (List<Buy.Models.BannerSetting>)ViewBag.Classify;
}
@Styles.Render("~/bundles/swiper/css")

<div id="couponBox" class="couponIndex paddingT88 paddingB50 bg-color-grey minHight100vh">
    @Html.Hidden("typeID", Request["typeID"])
    @Html.Hidden("platform", p)
    @Html.Hidden("sort", Request["sort"])
    <div class="navigationBar" onclick="location.href='@Url.Action("Search","coupon")'">
        <div class="navigationBar-search style02 fl">
            <i></i>
            <input id="search" type="search" name="filterText" class="" placeholder="搜索商品" value="">
        </div>
    </div>
    <div class="navigationSwiper top44">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div name="type" class="swiper-slide active" data-type="0">
                    <span>首页</span><i></i>
                </div>
                <div name="type" class="swiper-slide hidden swiperDemo" data-type="">
                    <span></span><i></i>
                </div>
            </div>
        </div>
        <div id="pullDown" class="pullDown"></div>
    </div>
    <div id="sortOne" class="sortList style03" style="display:none">
        <ul>
            <li name="type" data-type="0">
                <img src="@Url.ResizeImage("~/Content/images/view/home_category_01@3x.png",80,80)" /><div class="name">首页</div>
            </li>
            <li name="type" class="hidden sortListDemo" data-type="">
                <img src="" /><div class="name"></div>
            </li>
        </ul>
    </div>
    @*二级分类*@
    <div name="sortList" class="sortList hidden">
        <ul class="childDemo hidden" data-type="0">
            <li class="hidden">
                <a name="childType">
                    <img src="" />
                    <div class="name"></div>
                </a>
            </li>
        </ul>
    </div>
    @*banner*@
    <div id="index" class="">
        <div class="banner couponIndex-banner">
            @{
                var banner1 = banner.FirstOrDefault();
            }
            <div class="banner-simple">
                <a href="@(Url.ContentFull(banner1?.Link))">
                    <img src="@(Url.ResizeImage(banner1?.Image, 750, 280))" alt="" />
                </a>
            </div>
            @if (p == Buy.Enums.CouponPlatform.TaoBao)
            {
                <div class="couponIndex-shade"></div>
            }
        </div>
        <div class="couponIndex-menu @(p== Buy.Enums.CouponPlatform.MoGuJie?"style02":"")">
            <ul>
                @foreach (var item in classify)
                {
                    <li>
                        <a href="@Url.ContentFull(item.Link)" data-code="@item.Code">
                            <img src="@Comm.ResizeImage(item.Image)" />
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div id="couponNav" class="coupon-nav">
        <ul>
            <li id="complex" class="@((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0"><t>综合排序</t><span></span></li>
            <li class="sort @(Request["sort"]=="1" ?"active":"")" data-sort="1">人气热销</li>
            <li class="sort @(Request["sort"]=="2"?"active":"")" data-sort="2">最新上架</li>
        </ul>
        <div id="sort-down" class="coupon-nav-down" style="display:none">
            <div class="sort @((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序<i></i></div>
            <div class="sort @(Request["sort"]=="3" ?"active":"")" data-sort="3">券后价格<i></i></div>
            <div class="sort @(Request["sort"]=="4"?"active":"")" data-sort="4">券面额度<i></i></div>
        </div>
    </div>

    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
            </li>
        </ul>
        <div class="nodata hidden nodata-style03">
            <img src="~/content/images/view/img_coupon_nodata.png" />
        </div>
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/Content/images/view/img_backtop@2x.png" /></div>

    @Html.Partial("_navTabBottomPartial")

</div>


@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/couponIndex")
}