
@{
    ViewBag.Title = "优惠券";
    var couponTypes = (List<Buy.Models.CouponTypeTreeNode>)ViewBag.CouponTypes;
    var childType = new List<Buy.Models.CouponTypeTreeNode>();
    int pid = 0;
    if (!string.IsNullOrWhiteSpace(Request["typeID"]))
    {
        pid = int.Parse(Request["typeID"]);
        int i = 0;
        bool finishWhile = true;
        while (finishWhile)
        {
            var item = couponTypes[i];
            if (couponTypes[i].ID != pid)
            {
                var contains = item.Childs.Select(s => s.ID).Contains(pid);
                pid = contains ? item.ID : pid;
                finishWhile = contains ? false : true;
            }
            else
            {
                finishWhile = false;
            }
            i++;
        }
        var ctype = couponTypes.FirstOrDefault(s => s.ID == pid).Childs;
        childType = ctype == null ? childType : ctype;
    }
    var p = Buy.Enums.CouponPlatform.TaoBao;
    if (!string.IsNullOrWhiteSpace(Request["platform"]))
    {
        Enum.TryParse(Request["platform"], out p);
    }
}
@Styles.Render("~/bundles/swiper/css")

<div class="couponIndex paddingT80 paddingB50 bg-color-grey minHight100vh">
    @Html.Hidden("typeID", Request["typeID"])
    @Html.Hidden("platform", Request["platform"])
    @Html.Hidden("sort", Request["sort"])
    <div class="navigationBar bgcolor-orange">
        @p.GetDisplayName()优惠券
        <a href="@Url.Action("Search","coupon")"><div class="navigationBar-searchIcon"></div></a>
    </div>
    <div class="navigationSwiper top44">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var item in couponTypes)
                {
                    string active = pid == item.ID ? "active" : "";
                    <div name="type" class="swiper-slide @active" data-type="@item.ID">
                        @item.Name<i></i>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (pid != 0)
    {
        <div name="sortList" class="sortList">
            <ul>
                @foreach (var item in childType)
                {
                    <li>
                        <a name="childType" data-type="@item.ID">
                            <img src="@Comm.ResizeImage(item.Image)" /><div>@item.Name</div>
                        </a>
                    </li>
                }
                <li id="sortGetAll" class="all hidden">
                    <a>
                        <img src="~/Content/image/test/sort_all.png" /><div>查看全部</div>
                    </a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div id="index" class="">
            <div class="couponIndex-banner banner">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" data-code="" title="">
                                <img src="~/Content/image/test/banner_home@2x.png" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" data-code="" title="">
                                <img src="~/Content/image/test/banner_home@2x.png" />
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" data-code="" title="">
                                <img src="~/Content/image/test/banner_home@2x.png" />
                            </a>
                        </div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="couponIndex-menu">
                <img src="~/Content/image/test/img_ztihome_001@2x.png" />
                <img src="~/Content/image/test/img_ztihome_002@2x.png" />
                <img src="~/Content/image/test/img_ztihome_003@2x.png" />
                <img src="~/Content/image/test/img_ztihome_004@2x.png" />
                <img src="~/Content/image/test/img_ztihome_005@2x.png" />
            </div>
        </div>
    }
    <div class="coupon-nav">
        <ul>
            <li class="sort @((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序</li>
            <li class="sort @(Request["sort"]=="1" ?"active":"")" data-sort="1">人气热销</li>
            <li class="sort @(Request["sort"]=="2"?"active":"")" data-sort="2">最新上架</li>
        </ul>
    </div>

    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                加载中
            </li>
        </ul>
    </div>

    @Html.Partial("_navTabBottomPartial")
</div>


@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/couponIndex")
}