@model Buy.Models.CouponSearchViewModel

@{
    ViewBag.Title = "搜索列表";
    var p = Buy.Enums.CouponPlatform.TaoBao;
    if (!string.IsNullOrWhiteSpace(Request["platform"]))
    {
        Enum.TryParse(Request["platform"], out p);
    }
    var sort = Buy.Enums.CouponSort.Default;
    if (!string.IsNullOrWhiteSpace(Request["sort"]))
    {
        Enum.TryParse(Request["sort"], out sort);
    }
}

<div class="minHight100vh paddingT124 bg-color-grey">
    <form action="#" onsubmit="return false;">
        <div class="navigationBar bgcolor-orange">
            <div class="navigationBar-back bgwhite" onclick="history.back(-1)"></div>
            <div class="navigationBar-search bgwhite">
                <i></i>
                <input id="searchConfirm" type="search" name="filterText" class="" placeholder="搜索内部券" value="@Model.Filter">
            </div>
            <div id="searchConfirmBtn" class="navigationBar-rightText colorwhite">搜索</div>
        </div>
    </form>
    <div class="coupon-nav fixTop44">
        @Html.Hidden("platform", Request["platform"])
        @Html.Hidden("sort", Request["sort"])
        <ul>
            <li class="platform @((Request["platform"]=="TaoBao" || string.IsNullOrWhiteSpace(Request["platform"]))?"active":"")" data-platform="TaoBao"><div>淘宝<i></i></div></li>
            <li class="platform @(Request["platform"]=="MoGuJie" ?"active":"")" data-platform="MoGuJie"><div>蘑菇街<i></i></div></li>
            <li class="platform @(Request["platform"]=="Jd" ?"active":"")" dat data-platform="Jd"><div>京东<i></i></div></li>
        </ul>
        <ul>
            <li class="sort @((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序</li>
            <li class="sort @(Request["sort"]=="1" ?"active":"")" data-sort="1">人气热销</li>
            <li class="sort @(Request["sort"]=="2"?"active":"")" data-sort="2">最新上架</li>
        </ul>
    </div>

    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                加载中
            </li>
        </ul>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/search")
}