
@{
    ViewBag.Title = "分类";
    Buy.Models.CouponType type = ViewBag.TypeName;
}

<div class="minHight100vh bg-color-grey paddingT44">
    <div class="navigationBar">
        <div class="navigationBar-back" onclick="history.back(-1)"></div>
        @type.Name
        <a href="@Url.Action("Search","coupon")"><div class="navigationBar-searchIcon bgblack"></div></a>
    </div>
    <div class="coupon-nav fixTop44">
        @Html.Hidden("typeID",type.ID)
        @Html.Hidden("platform", Request["platform"])
        <ul>
            <li class="active sort" data-sort="0">综合排序</li>
            <li class="sort" data-sort="1">人气热销</li>
            <li class="sort" data-sort="2">最新上架</li>
        </ul>
    </div>
    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                加载中
            </li>
        </ul>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/couponIndex")
}