
@{
    ViewBag.Title = "分类";
    var name = Request["name"];
    if (!string.IsNullOrWhiteSpace(Request["typeID"]))
    {
        Buy.Models.CouponType type = ViewBag.TypeName;
        name = type.Name;
    }
}

<div class="minHight100vh bg-color-grey paddingT84">
    <div class="navigationBar">
        <div class="navigationBar-back" onclick="history.back(-1)"></div>
        @name
        <a href="@Url.Action("Search","coupon")"><div class="navigationBar-searchIcon bgblack"></div></a>
    </div>
    <div class="coupon-nav fixTop44">
        @Html.Hidden("typeID", Request["typeID"])
        @Html.Hidden("platform", Request["platform"])
        @Html.Hidden("maxPrice", Request["maxPrice"])
        @Html.Hidden("name", Request["name"])
        <input id="secound" value="secound" type="hidden" />
        <ul>
            <li class="active sort" data-sort="0">综合排序</li>
            <li class="sort" data-sort="1">人气热销</li>
            <li class="sort" data-sort="2">最新上架</li>
        </ul>
    </div>
    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                加载中
            </li>
        </ul>
        <div class="nodata hidden nodata-style03">
            <img src="~/content/images/view/img_coupon_nodata.png" />
        </div>
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/content/images/view/img_backtop@2x.png" /></div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/searchConfirm")
}