
@{
    ViewBag.Title = "分类";
    var name = Request["name"];
    if (string.IsNullOrWhiteSpace(Request["name"]))
    {
        if (!string.IsNullOrWhiteSpace(Request["types"]))
        {
            Buy.Models.CouponType type = ViewBag.TypeName;
            name = type.Name;
        }
    }
}

<div class="minHight100vh bg-color-grey paddingT84">
    <div class="navigationBar bgcolor-grey">
        <div class="navigationBar-back" onclick="history.back(-1)"></div>
        <div class="navigationBar-tits style02">@name</div>
        <a href="@Url.Action("Search","coupon")"><div class="navigationBar-searchIcon bgblack"></div></a>
    </div>
    <div class="coupon-nav fixTop44">
        @Html.Hidden("types", Request["types"])
        @Html.Hidden("platform", Request["platform"])
        @Html.Hidden("maxPrice", Request["maxPrice"])
        @Html.Hidden("name", Request["name"])
        <input id="secound" value="secound" type="hidden" />
        <ul>
            <li id="complex" class="@((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序<span></span></li>
            <li class="sort @(Request["sort"]=="1" ?"active":"")" data-sort="1">人气热销</li>
            <li class="sort @(Request["sort"]=="2"?"active":"")" data-sort="2">最新上架</li>
        </ul>
        <div id="sort-down" class="coupon-nav-down" style="display:none">
            <div class="sort @((Request["sort"]=="0" || string.IsNullOrWhiteSpace(Request["sort"]))?"active":"")" data-sort="0">综合排序<i></i></div>
            <div class="sort @(Request["sort"]=="3" ?"active":"")" data-sort="3">券后价格<i></i></div>
            <div class="sort @(Request["sort"]=="4"?"active":"")" data-sort="4">券面额度<i></i></div>
        </div>
    </div>
    <div id="coupon" class="coupon-list coupon-list-style02">
        <ul>
            <li class="loadModule loadModule-dataIng" data-page="0" data-next="true">
                <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
            </li>
        </ul>
        <div class="nodata hidden nodata-style03">
            <img src="~/content/images/view/img_coupon_nodata.png" />
        </div>
    </div>

    <div class="setScrollTop" style="display:none"><img src="~/content/images/view/img_backtop@2x.png" /></div>

    <img id="loading" class="hidden" src="~/Content/images/view/loadingGif.gif" />
</div>


@section Scripts{
    @Scripts.Render("~/bundles/searchConfirm")
}