@model IEnumerable<Buy.Models.Shop>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "本地券";
}
@Styles.Render("~/bundles/swiper/css")

@Html.Hidden("shopId", Request["shopId"])
@Html.Hidden("UserID", User.Identity.GetUserId())
<img id="loading" class="hidden" src="~/Content/images/view/loadingGif.gif" />
<div class="find bg-color-grey minHight100vh paddingT88 paddingB50">
    <div class="navigationBar"><div class="navigationBar-tits">本地券</div></div>

    <div class="navigationSwiper top44">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div name="type" class="swiper-slide hidden swiperDemo" data-type="">
                    <span></span><i></i>
                </div>
            </div>
        </div>
        <div id="pullDown" class="pullDown"></div>
    </div>
    <div id="sortOne" class="sortList style03" style="display:none">
        <ul>
            <li name="type" class="hidden sortListDemo" data-type="">
                <img src="" /><div class="name"></div>
            </li>
        </ul>
        <div id="sortList_closed" class="sortList-closed"></div>
    </div>

    <div id="localCoupon" class="localcoupon-list">
        <ul>
            <li class="loadModule loadModule-dataIng" data-next="true" data-page="0">
                <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
            </li>
        </ul>
    </div>
    @*<div class="banner find-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>*@

    @*<div class="thirdWayList">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Index","LocalCoupon",new { shopId =item.ID},null)">
                        <img src="@Comm.ResizeImage(item.Logo)" />
                        <div>@Html.DisplayFor(modelItem => item.Name)</div>
                    </a>
                </li>
            }
        </ul>
    </div>*@

    @Html.Partial("_navTabBottomPartial")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/find")
}