@model IEnumerable<Buy.Models.Shop>

@{
    ViewBag.Title = "本地券";
}
@Styles.Render("~/bundles/swiper/css")
<div class="find minHight100vh paddingT44">
    <div class="navigationBar"><div class="navigationBar-tits">本地券</div></div>

    <div class="banner find-banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" data-code="" title="">
                        <img src="~/content/images/test/find_banner.png" />
                    </a>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="thirdWayList">
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <a href="@Url.Action("Index","LocalCoupon",new { shopId =item.ID},null)">
                        <img src="@Comm.ResizeImage(item.Logo)" />
                        <div>@Html.DisplayFor(modelItem => item.Name)</div>
                    </a>
                </li>
            }
        </ul>
    </div>

    @Html.Partial("_navTabBottomPartial")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/swiper/js")
    @Scripts.Render("~/bundles/find")
}