@model Buy.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记密码";
}

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger hidden", @id = "errorText" })
    <div id="register" class="account paddingT44 minHight100vh">
        <div class="navigationBar">
            <div class="navigationBar-back" onclick="history.back(-1)"></div>
            忘记密码
        </div>
        @Html.ValidationSummary("", new { @class = "text-danger hidden", @id = "errorText" })
        <div class="paddingLr16">
            <div class="account-input">
                <div class="account-input-tits">手机号码</div>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "forgot-input", @placeholder = "请填写手机号码" })
                <input id="btnGetCode" class="identifyCode" type="button" value="获取验证码" />
                <div name="clearVal" class="account-input-del style02 hidden"></div>
            </div>
            <div class="account-input">
                <div class="account-input-tits">验证码</div>
                @Html.TextBoxFor(m => m.Code, new { @class = "style02 forgot-input", @placeholder = "请填写验证码" })
                <div name="clearVal" class="account-input-del hidden"></div>
            </div>
            <div class="account-input">
                <div class="account-input-tits">密码</div>
                @Html.PasswordFor(m => m.Password, new { @class = "style02 forgot-input", @placeholder = "请填写新密码" })
                <div name="clearVal" class="account-input-del hidden"></div>
            </div>
            <div class="marginT35">
                <input id="forgotBtn" type="submit" disabled class="account-button" value="完成" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/forgotPassword")
}
