@using Buy.Models
@model LoginViewModel
@{
    ViewBag.Title = "登录";
    string returnUrl = ViewBag.ReturnUrl;
    var wechatLogin = $"https://open.weixin.qq.com/connect/oauth2/authorize?appid={Buy.WeChat.Config.AppID}"
        + $"&redirect_uri=@{Url.ContentFull("~/Account/LoginByWeiXin")}"
        + $"&response_type=code&scope=snsapi_userinfo&state={returnUrl}#wechat_redirect";
    var test=
}


<div class="account minHight100vh">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger hidden", @id = "errorText" })
            <input id="returnUrl" type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

            <div class="account-logo">
                <img src="~/Content/images/view/logo.png" />
            </div>

            <div class="paddingLr16">
                <div class="account-input is-empty style02">
                    <div class="account-input-tits">手机号码</div>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "" })
                    <div name="clearVal" class="account-input-del hidden"></div>
                </div>
                <div class="account-input is-empty style02">
                    <div class="account-input-tits">密码</div>
                    @Html.PasswordFor(m => m.Password, new { @class = "" })
                    <div name="clearVal" class="account-input-del hidden"></div>
                </div>

                <div class="marginT35">
                    <input type="button" id="submit" disabled value="登录" class="account-button" />
                </div>

                <div class="account-link marginT20 fs12">
                    <div class="fl"><a href="@Url.Action("ForgotPassword","Account")">忘记密码</a></div>
                    <div class="fr"><a href="@Url.Action("Register","Account")">新用户注册</a></div>
                </div>
            </div>
            <div class="account-otherLoginWay paddingLr16 fs12">
                <div class="account-otherLoginWay-tits">其它登录方式</div>
                <div class="account-otherLoginWay-list">
                    <a href="@wechatLogin">
                        <img src="~/Content/images/view/img_wechat_login_grey@2x.png" />
                    </a>
                    <div>微信</div>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/login")
}