@model Buy.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "重置密码";
}

<div class="accountResetPassword account minHight100vh paddingT44">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserID)

        <div class="navigationBar">
            <div class="navigationBar-back" onclick="history.back(-1)"></div>
            <div class="navigationBar-tits">修改密码</div>
            <div class="navigationBar-rightText" id="submit">完成</div>
        </div>

        <div class="paddingLr16 marginT35">
            <div class="account-input">
                <div class="account-input-tits">原密码</div>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "style02", @placeholder = "请填写原密码" })
                <div name="clearVal" class="account-input-del hidden"></div>
            </div>
            <div class="account-input">
                <div class="account-input-tits">新密码</div>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "style02", @placeholder = "请填写新密码" })
                <div name="clearVal" class="account-input-del hidden"></div>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/resetPassword")
}
