
@{
    ViewBag.Title = "我的收藏";
}

<img id="loading" class="hidden" src="~/Content/images/view/loadingGif.gif" />
<div class="minHight100vh paddingT88">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <div class="navigationBar">
            <div class="navigationBar-back" onclick="history.back(-1)"></div>
            <div class="navigationBar-tits style02">我的收藏</div>
        </div>

        <div class="coupon-nav noborderBottom fixTop44">
            @Html.Hidden("platform", Request["platform"])
            <ul class="platform">
                <li class="platformLi @((Request["platform"]=="TaoBao" || string.IsNullOrWhiteSpace(Request["platform"]))?"active":"")" data-platform="TaoBao">
                    <div>淘宝<i></i></div>
                </li>
                <li class="platformLi @(Request["platform"]=="MoGuJie" ?"active":"")" data-platform="MoGuJie">
                    <div>蘑菇街<i></i></div>
                </li>
            </ul>
        </div>

        <div class="couponFavorite coupon-list coupon-list-style02">
            <ul>
                <li class="loadModule loadModule-dataIng" data-next="true" data-page="0">
                    <img class="marginR8" src="~/Content/images/view/loadingGif.gif" />加载中
                </li>
            </ul>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/favorite")
}