@model Buy.Models.ApplicationUser

@{
    ViewBag.Title = "我的";
}

<div class="userIndex minHight100vh bg-color-grey">
    <div class="userIndex-info">
        <img src="@Url.ResizeImage(Model.Avatar,h:50,img: Buy.Enums.DummyImage.Avatar)" />
        <div class="fs24 marginB5">@Model.NickName</div>
        <div class="fs14">手机号：@Model.PhoneNumber</div>
    </div>
    <div class="moduleOptions">
        @Html.ActionLink("修改信息", "Edit")
    </div>
    <div class="moduleOptions">
        @Html.ActionLink("修改密码", "ResetPassword", "Account", null, null)
    </div>
    <div class="moduleOptions">
        <a href="@Url.Action("CustomerService")">
            联系客服
        </a>
    </div>
    <div class="moduleOptions marginT10">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
        }
        <a href="javascript:document.getElementById('logoutForm').submit()">退出登录</a>
    </div>

    @Html.Partial("_navTabBottomPartial")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/userIndex")
}
