@model Buy.Models.ApplicationUser

@{
    ViewBag.Title = "我的";
    Model.Avatar = string.IsNullOrWhiteSpace(Model.Avatar) ? Url.ResizeImage("~/Content/images/view/avatar_m@3x.png", img: Buy.Enums.DummyImage.Avatar) : Model.Avatar;
    var avatar = new Buy.Models.ImageResizer("Avatar", 150, 150, Model.Avatar, 150, 150);
    avatar.AutoInit = false;
}

<div class="userIndex minHight100vh bg-color-grey">
    <div class="userIndex-info">
        <img class="avatav" src="@Url.ResizeImage(Model.Avatar, h: 100, img: Buy.Enums.DummyImage.Avatar)" />
        <div>
            <div class="fs24 marginB5">@Model.NickName</div>
            <div class="fs14"><img src="~/Content/images/view/ico_iphone_blue_m@3x.png" />手机号：@Model.PhoneNumber</div>
        </div>
    </div>
    <div>
        <div class="moduleOptions">
            <a href="@Url.Action("ResetPassword","Account")">
                <img class="icon" src="~/Content/images/view/ic_collect_yellow_24px@3x.png" />
                我的收藏
                <img class="arrow-r" src="~/Content/images/view/arrow_right_grey_m@3x.png" />
            </a>
        </div>
        <div class="moduleOptions">
            <a href="@Url.Action("ResetPassword","Account")">
                <img class="icon" src="~/Content/images/view/ic_wallet_yellow_24px@3x.png" />
                我的卡包
                <img class="arrow-r" src="~/Content/images/view/arrow_right_grey_m@3x.png" />
            </a>
        </div>
        <div class="moduleOptions marginT10">
            <a href="@Url.Action("Edit","User")">
                <img class="icon" src="~/Content/images/view/ic_border_color_black_24px@3x.png" />
                修改昵称
                <img class="arrow-r" src="~/Content/images/view/arrow_right_grey_m@3x.png" />
                <div class="fr">@Model.NickName</div>
            </a>
        </div>
        <div class="moduleOptions">
            <img class="icon" src="~/Content/images/view/ic_person_add_black_24px@3x.png" />
            修改头像
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.NickName)
            <img class="arrow-r" src="~/Content/images/view/arrow_right_grey_m@3x.png" />
            <div class="editImg fr">@Html.EditorFor(model => avatar)</div>
        </div>
        <div class="moduleOptions">
            <a href="@Url.Action("ResetPassword","Account")">
                <img class="icon" src="~/Content/images/view/ic_lock_black_24px@3x.png" />
                修改密码
                <img class="arrow-r" src="~/Content/images/view/arrow_right_grey_m@3x.png" />
            </a>
        </div>
        <div class="moduleOptions marginT10">
            <a href="@Url.Action("CustomerService")">
                <img class="icon" src="~/Content/images/view/ic_headset_black_24px@3x.png" />
                联系客服
                <img class="arrow-r" src="~/Content/images/view/ico_kefu_blue@3x.png" />
            </a>
        </div>
        <div class="moduleOptions marginT10">
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()
            }
            <a href="javascript:document.getElementById('logoutForm').submit()"><img class="icon" src="~/Content/images/view/ic_exit_to_app_black_24px@3x.png" />退出登录</a>
        </div>
    </div>

    @Html.Partial("_navTabBottomPartial")
</div>

@section Scripts{
    @Scripts.Render("~/bundles/userIndex")
}
