@model Buy.Models.LocalCoupon
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "券详情";
}

<div class="localcoupon">
    <div class="localcoupon-detail minHight100vh paddingT44">
        <div class="navigationBar">
            <div class="navigationBar-back" id="btnBack"></div>
            <div class="navigationBar-tits style02">券详情</div>
        </div>
        <div class="localcoupon-detail-label fs24 fontWeight">
            到店直接出示此页即可使用
        </div>
        <div class="localcoupon-detail-img">
            <a href="@Comm.ResizeImage(Model.Image)">
                <img src="@Comm.ResizeImage(Model.Image)" />
            </a>
        </div>
        <div class="localcoupon-detail-info">
            <div name="foodName" class="fs16">
                <img src="@Comm.ResizeImage(Model.Shop.Logo,w:15,h:15)" />
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="localcoupon-info-detail-price fs14 marginT10 color-main"><label class="localcoupon-info-price-label"></label><span class="fs12">￥</span><span name="foodPrice" class="fs24 fontWeight">@Html.DisplayFor(model => model.Price)</span></div>
            <div name="foodTime" class="color-main fs14">有效期至：@Model.EndDateTime.ToString("yyyy-MM-dd")</div>
            <div class="fs16 marginT20">说明：@Html.DisplayFor(model => model.Remark)</div>
        </div>
        @if (Model.Shop.Code == "xianggu")
        {
            <div class="localcoupon-detail-buy">
                <a href="@($"http://www.immlm.net/Product/Details?name={Model.Name}&&userID={User.Identity.GetUserId()}")">
                    立刻购买
                </a>
            </div>
        }
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/localCoupon")
}
