<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>@ViewBag.Title -买了么-领券购物就上买了么APP，淘宝天猫商品省钱利器！</title>
    <meta name="keywords" content="买了么,淘宝优惠劵,天猫优惠劵,买了么APP,内部优惠券,京东优惠券,蘑菇街优惠券" />
    <meta name="description" content="买了么-优惠券，淘宝，天猫，京东，蘑菇街购物就上买了么APP！每天更新万款，24小时纯人工筛选验货，限时限量领取，全场最低1折包邮！领券购物，就上买了么！" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@
    <div class="">
        @RenderBody()
    </div>

    <div class="mask hidden"></div>
    <div class="mask style02 hidden"></div>
    <div class="promptBox" style="display:none">
        <div class="promptText"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/cookie")
    @Scripts.Render("~/bundles/jqueryui/js")
    @Scripts.Render("~/bundles/comm")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @RenderSection("scripts", required: false)
</body>
</html>
