@using Microsoft.AspNet.Identity
@{
    string js = null;
    if (!Request.IsAuthenticated)
    {
        js = "if(!confirm('注册用户功能，是否马上去注册')){return false;}";
    }
}

<div class="navTabBottom">
    <ul>
        <li class="taobao" data-platform="@Buy.Enums.CouponPlatform.TaoBao" title="淘宝">
            <a href="@Url.Action("Index","Coupon",new { platform=Buy.Enums.CouponPlatform.TaoBao})"></a>
        </li>
        <li class="mogujie" data-platform="@Buy.Enums.CouponPlatform.MoGuJie" title="蘑菇街">
            <a onclick="" href="@Url.Action("Index","Coupon",new { platform=Buy.Enums.CouponPlatform.MoGuJie})"></a>
        </li>
        <li class="jd" data-platform="@Buy.Enums.CouponPlatform.Jd" title="京东">
            <a onclick="" href="@Url.Action("Index","Coupon",new { platform=Buy.Enums.CouponPlatform.Jd})"></a></a>
        </li>
        <li class="search" title="搜索"><a onclick="" href="@Url.Action("Search","Coupon")"></a></li>
        <li class="user" title="我的"><a onclick="" href="@Url.Action("Index","u",new {id=User.Identity.GetUserId() })"></a></li>
    </ul>
</div>
